.flip-card {
  background-color: transparent;
  perspective: 1000px;
  cursor: pointer;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  border: 5px solid var(--slate-5);
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.front-text {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
}

.flip-card-front .front-image {
  width: 50px;
  height: auto;
}

.flip-card-back {
  background-color: var(--gray-3);
  transform: rotateY(180deg);
}

.flip-card.square {
  width: 200px;
  height: 200px;
}

.flip-card.portrait {
  width: 200px;
  height: 230px;
}

.flip-card.landscape {
  width: 400px;
  height: 200px;
}

textarea {
  width: 100%;
  margin-top: 0.3rem;
  padding: 5px;
}
