:root {
  --padding: 5px;
  --line-break: 1rem;
  --margin-top: 16px;
  --margin-right: 5px;
  --margin-bottom: 16px;
  --margin-left: 5px;
}

.line-break {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wc-icon-item {
  margin-bottom: 4px;
}