.wrapper {
  border-radius: var(--border-radius);
  overflow: hidden;
  border: 3px solid white;
  outline: 1px solid lightgrey;
}

.wrapper-extended {
  width: 400px;
}

.open-close {
  display: grid;
  place-items: center;
  height: 26px;
  border: 1px solid lightgray;
  background-color: var(--yellow-3);
  text-align: center;
  cursor: pointer;
}

.open-close svg {
  width: 20px !important;
  height: 20px !important;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  border: 1px solid lightgray;
  display: none;
}

@media (max-width: 500px) {
  .wrapper-extended {
  width: 300px;
}
}