.card-container {
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.card-label {
  display: flex;
  align-items: center;
  gap: 4px;
}
