header {
  height: auto;
  padding: var(--padding);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-div {
  display: flex;
  gap: 9px;
  margin: 3px 2px 2px 2px;
}

.home {
  margin-left: 2px;
}

/* .home,
.left-button,
.right-button {
  position: relative;
  top: 2px;
  left: 2px;
} */

@media (min-width: 768px) {
  #menu-button {
    display: none;
  }
}
