.container {
  display: block;
  padding: var(--padding);
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: var(--gray-4);
}

.task-container {
  padding: var(--padding);
  border-radius: 0 0 5px 5px;
  border: 1px solid var(--gray-4);
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr;
}
