.header {
  height: 60px;
}

.container-presentation {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-name {
  width: 300px;
  margin: 10px 0 70px 0;
  filter: drop-shadow(2px 2px 2px gray);
}

.greetings {
  height: 34px;
}

.avatar {
  width: 230px;
  height: 230px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 5px gray);
}

svg {
  min-width: 24px;
}

.icon-alignment {
  display: flex;
  gap: 0.625rem;
}

.whatsapp-icon {
  position: relative;
  top: 2px;
  left: 1px;
  animation: shake-whatsapp 1s infinite ease-in-out;
}

@keyframes shake-whatsapp {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: translate(1px);
  }
  50% {
    transform: translate(-1px);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.contact-container {
  margin-bottom: 20px;
}
