@import "/src/css/index.css";
@import "/src/css/imports.css";

body {
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 1050px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-display: swap;
  /* user-select: none; */
  /* scrollbar-gutter: stable */
}

html {
  padding: 10px;
}

hr {
  border-color: rgba(255, 255, 255, 0.5);
}
