@import "/src/css/index.css";
@import "/src/css/imports.css";

:root {
  --background-color: #e0e5ec;
  --text-color: #000000;
  --button__color: #e0e0e0;

  /* Neumorphism */
  --neumorphism: -2px -2px 3px rgba(255, 255, 255, 1),
    3px 3px 6px rgba(0, 0, 0, 0.15);
  --neumorphism-active: inset -3px -3px 6px rgba(255, 255, 255, 1),
    inset 3px 3px 6px rgba(0, 0, 0, 0.15);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 1050px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-display: swap;
  transition: background-color 1s, color 1s;
  scrollbar-gutter: stable
  /* user-select: none; */
}

body.dark {
  --background-color: #18191f;
  --text-color: #ffffff;
  --button__color: #18191f;

  /* Neumorphism */
  --neumorphism: 2px 2px 1px #000000, -1px -1px 1px #2c2c2c;
  --neumorphism-active: -0.5px -0.5px 1px #000000, 1px 1px 1px #2c2c2c;
}

html {
  padding: 10px;
}

hr {
  border-color: rgba(255, 255, 255, 0.5);
}
